# Virtual environment
.venv/

# Chroma local vector store
chroma_rag_demo/

# Chroma local persistence
chroma_rag_db/
**/chroma_rag_db/
*.sqlite3
*.db

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# OS / Editor
.DS_Store
.vscode/